# 실습1 - pandas 기본문법

# **pandas 시작하기(loading)**

In [1]:
import pandas as pd

# **pandas 테이블 구조**

![01_table_dataframe.svg]()

# **DataFrame 만들기**

In [2]:
df = pd.DataFrame(
    {
        "Name": [
            "Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
            "Bonnell, Miss. Elizabeth",
        ],
        "Age": [22, 35, 58],
        "Sex": ["male", "male", "female"],
    }
)

# **DataFrame 확인하기**

In [3]:
df

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female

# **DataFrame 내 하나의 column 보기**

In [4]:
df["Age"]

0    22
1    35
2    58
Name: Age, dtype: int64

# **Series 만들기**

In [5]:
ages = pd.Series([20, 30, 40], name="Age")

# **Series 확인하기**

In [6]:
ages

0    20
1    30
2    40
Name: Age, dtype: int64

# **최대값 확인하기**

In [7]:
df["Age"].max()

58

In [8]:
ages.max()

40

# 실습2 - 파일 데이터 읽기/쓰기

# **Google Drive 연결하기**

In [11]:
from google.colab import drive
drive.mount('/content/drive')

# **Advertising data 읽기**

In [7]:
# ad = pd.read_csv("/content/Advertising.csv")
ad = pd.read_csv("Advertising.csv")

In [8]:
ad

     Unnamed: 0     TV  Radio  Newspaper  Sales
0             1  230.1   37.8       69.2   22.1
1             2   44.5   39.3       45.1   10.4
2             3   17.2   45.9       69.3    9.3
3             4  151.5   41.3       58.5   18.5
4             5  180.8   10.8       58.4   12.9
..          ...    ...    ...        ...    ...
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

[200 rows x 5 columns]

# **데이터 일부만 보기**

In [9]:
ad.head(10)

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9
5           6    8.7   48.9       75.0    7.2
6           7   57.5   32.8       23.5   11.8
7           8  120.2   19.6       11.6   13.2
8           9    8.6    2.1        1.0    4.8
9          10  199.8    2.6       21.2   10.6

In [10]:
ad.tail(10)

     Unnamed: 0     TV  Radio  Newspaper  Sales
190         191   39.5   41.1        5.8   10.8
191         192   75.5   10.8        6.0    9.9
192         193   17.2    4.1       31.6    5.9
193         194  166.8   42.0        3.6   19.6
194         195  149.7   35.6        6.0   17.3
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

# **데이터 타입(data type) 보기**

In [11]:
ad.dtypes

Unnamed: 0      int64
TV            float64
Radio         float64
Newspaper     float64
Sales         float64
dtype: object

# **데이터 요약보기**

In [12]:
ad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  200 non-null    int64
 1   TV          200 non-null    float64
 2   Radio       200 non-null    float64
 3   Newspaper   200 non-null    float64
 4   Sales       200 non-null    float64
dtypes: float64(4), int64(1)
memory usage: 7.9 KB

# **파일로 저장하기**

In [18]:
ad.to_csv("/content/Advertising_new.csv")